<div class="row" data-ng-controller="MeCtrl">
   <div class="col-lg-12">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <strong>Hostel complaints</strong>
         </div>
         <div class="panel-body">
            <ul ng-repeat="item in hostel">

               <div class="row">
                        <div class="col s16 m8">
                           <div class="card blue-grey darken-1">
                              <div class="card-content white-text">
                                      <img src="api/uploads/dp/{{item.dpUrl}}" width="60" class="circle">
                                       <a href="" ng-click="upvote(item._id,$index,1)" class="secondary-content blue-grey-text text-lighten-5"><i class="material-icons blue-grey-text text-lighten-5">thumb_up</i>||{{item.upvotes}}||</a>  
                                      <a href="" ng-click="downvote(item._id,$index,1)" class="secondary-content blue-grey-text text-lighten-5"><i class="material-icons blue-grey-text text-lighten-5">thumb_down</i>||{{item.downvotes}}||</a>
                                        <span  class="card-title">{{item.title}}</span>
                                     <span><br>- {{item.firstName}} {{item.lastName}}
                                     <p><br>{{item.description}}
                                     </p>
                                     </span>
                                 <ul class="collection" ng-repeat="comment in item.comments">
                                  <li class="collection-item avatar">
                                     <img src="api/uploads/dp/{{comment.dpUrl}}" alt="" class="circle">
                                     <span class="blue-grey-text text-darken-3">{{comment.firstName}} {{comment.lastName}}
                                     <p class="blue-grey-text text-lighten-1"><br>{{comment.body}}
                                     </p>
                                     </span>
                                  </li>
                               </ul>
                              </div>
                               <div class="card-action">
              <a href="" ng-click="resolve(item._id)">RESOLVE</a>
            </div>
                               <div class="center">
        <div class="input-field col s1 m4">
          <input id="comment" type="text"  class="validate form-control" ng-model="comment$index">
          <label for="comment">Comment</label>
  <a href="" ng-click="postComment(item._id,comment$index,$index,1)"><i class="material-icons" >send</i></a>
        </div>
      </div>

                           </div>
                        </div>
                     </div>
            </ul>
         </div>
      </div>
   </div>
</div>