<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Hoopii</strong>
            </div>
            <div class="panel-body">
                Hoopii a complaints portal
            </div>
        </div>
    </div>
</div>