<div class="row" data-ng-controller="MeCtrl">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Your Details</strong>
            </div>
            <div class="panel-body">

      <div class="row">
        <div class="col s12 m7">
          <div class="card medium">
            <div class="card-image">
              <img src="api/uploads/dp/{{myDetails.dpUrl}}">
              <span class="card-title black-text">{{myDetails.firstName}} {{myDetails.lastName}}</span>
            </div>
            <div class="card-content">
              <p>Your Entry Number is {{myDetails.entryno}} and your location is {{myDetails.location}}</p>
            </div>
            <div class="card-action">
              <a href="#/insti">View Complains</a>
            </div>
          </div>
        </div>
      </div>
            </div>
        </div>
    </div>
</div>

