<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Post Complain</strong>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="postComplain()">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="title" placeholder="Title" ng-model="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="description" placeholder="Description" ng-model="description">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="visibility" class="col-sm-2 control-label">visibility</label>
                            <select name="singleSelect" class="browser-default col-sm-offset-2 col-sm-10" ng-model="visibility">
                              <option value="0">Private</option>
                              <option value="1">Hostel</option>
                              <option value="2">Institute</option>
                            </select><br>
                    </div>
                    <div class="form-group">
                                    <label for="multipleSelect"> Tags: </label><br>
                    <select name="multipleSelect" id="multipleSelect" class="browser-default col-sm-offset-2 col-sm-10" ng-model="tags" multiple>
                      <option value="Fire">Fire</option>
                      <option value="Earth">Earth</option>
                      <option value="Water">Water</option>
                    </select><br>
                    </div>
                        <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Post Complain</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>