<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Add User</strong>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="signup()">
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" ng-model="firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" ng-model="lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Entry Number</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="entryno" name="entryno" placeholder="Entry Number" ng-model="entryno">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Hostel" class="col-sm-2 control-label">Hostel</label>
                            <select name="Hostel" class="browser-default col-sm-offset-2 col-sm-10" ng-model="hostel">
                              <option value="Kumaon">Kumaon</option>
                              <option value="Jwala">Jwala</option>
                            </select><br>
                    </div>
                    <div class="form-group">
                        <label for="userType" class="col-sm-2 control-label">User Type</label>
                            <select name="userType" class="browser-default col-sm-offset-2 col-sm-10" ng-model="userType">
                              <option value="0">Super User</option>
                              <option value="1">Student</option>
                              <option value="2">Faculty</option>
                              <option value="3">Worker</option>
                              <option value="4">Warden</option>
                              <option value="5">Dean</option>
                            </select><br>
                    </div>
                        <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>